{"filter":false,"title":"requirements.txt","tooltip":"/awslambda/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1680577408310,"hash":"df666d3a214c5c84e0e190ff8ad83de3d2e12d4b"}